## Creating Fake Data:
Data will consist of several csv files. Each file will represent one weeks worth of data per application.
- DDMMYYY_application.csv

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [20]:
num_days = 7
num_rows = 24*num_days # number of hours in a day * number of days
dataframe = pd.DataFrame({"key": np.random.random(num_rows), 
                          "day": np.tile(np.arange(num_days), 24)})
                          #"week": np.ones(num_rows),
                          #"month": np.repeat(1, num_rows),
                          #"hour": np.tile([np.arange(25)], num_days)
                          #})

In [18]:
dataframe

          key  day
0    0.469895    0
1    0.303161    1
2    0.977787    2
3    0.224805    3
4    0.812871    4
..        ...  ...
163  0.481731    2
164  0.141912    3
165  0.155789    4
166  0.360593    5
167  0.119410    6

[168 rows x 2 columns]